.hero{
    display:flex;
    align-items:center;
    flex-direction: column;
    gap: 15px;
}
.hero img{
    margin-top:100px;
    height:200px;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 50px;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(270deg,#df8908 10%,#b415ff 100%) ;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.hero p{
    width:50%;
    text-align: center;
    font-size:20px;
    line-height: 40px;
}

.hero-action{
    display:flex;
    align-items: center;
    gap:35px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom:50px ;
}
.hero-connect{
    padding:15px 25px;
    border-radius: 50px;
    cursor:pointer;
    border:2px solid #161513  ;
    font-size: 15px;
    transition: 0.5s;
    background: linear-gradient(246deg,#df8908 -5.09%,#b415ff 100%);
}

.hero-resume{
    padding: 15px 25px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
}

.hero-connect:hover{
    border:2px solid white ;
}
.hero-resume:hover{
    border-color: #b415ff;
}